:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ✅ MUY IMPORTANTE: esto debe ir FUERA del media query */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  /* ❌ QUITAR flex/center que rompe responsivo */
  display: block;
  min-height: 100%;
}

/* opcional: links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* opcional: botones base (si los usas) */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.ipl-swal-container {
  z-index: 999999 !important;
  padding-top: 80px !important;
}

.swal2-container {
  z-index: 999999 !important;
}

.swal2-popup {
  z-index: 1000000 !important;
}